<app-cabecalho></app-cabecalho>
<main class="inicio" id="inicio">
  <section class="apresentacao" aria-label="Lista de vagas de tecnologia">
    <div class="conteudo-apresentacao">
      <div>
        <span class="destaque">Seu Futuro Começa aqui </span>
        <h2>Encontre a Vaga que combina com você</h2>
        <p>Encontre a sua oportunidade aqui!</p>
      </div>
      <div class="painel-usuario">
        @if (usuarioLogado) {
          <p class="mensagem-logado">
            Olá, <strong> {{ nomeUsuario }}</strong>
          </p>
          <p>Você pode consultar e favoritar as Vagas</p>
          <button class="botao-login botao-sair" (click)="alterarLogin()">Sair da Conta</button>
        } @else {
          <p class="mensagem-deslogado">Você ainda não está conectado</p>
          <p>Entre para favoritar vagas e se candidatar.</p>
          <button class="botao-login" (click)="alterarLogin()">Entrar</button>
        }
      </div>
    </div>
  </section>
  <section class="secao-vagas" id="vagas">
    <div class="titulo-secao">
      <div>
        <span class="destaque"> Oportunidade</span>
        <h2>{{ titulo }}</h2>
        <p>{{ subtitulo }}</p>
      </div>
      <div class="quantidade-vagas">
        <strong> {{ vagas.length }} </strong>
        @if (vagas.length === 1) {
          <span>Vaga Cadastrada</span>
        } @else {
          <span>Vagas Cadastradas</span>
        }
      </div>
    </div>
    <div class="grade-vagas">
      <!-- O ID permite ao Angular identificar cada card da lista. -->
      @for (vaga of vagas; track vaga.id) {
        <app-card-vaga [vaga]="vaga" [usuarioLogado]="usuarioLogado"></app-card-vaga>
      } @empty {
        <div class="sem-vagas">
          <span>0</span>
          <h3>Nenhuma Vaga Encontrada</h3>
          <p>Não tem vaga cadastrada</p>
        </div>
      }
    </div>
  </section>
  <app-sobre></app-sobre>
</main>
<app-rodape></app-rodape>
